@import '~@fider/assets/styles/variables.scss';

.c-signin-control {
  text-align: center;
  .col-lf {
    width: 100%;
  }
  .l-social-col {
    padding: 10px 5px;
    max-width: 50%;
  }
  .l-social-col-100 {
    width: 100%;
  }
  .m-ldap-dropdown-label {
    font-size: 11px;
    font-weight: 600;
    color: #929292;
    text-transform: uppercase;
    letter-spacing: .3px;
    margin: 0 10px 5px 0;
  }
  .m-ldap-dropdown-inline {
    display: inline-block;
    vertical-align: middle;
  }
}